button {
    background-color: #F4CE14;
    color: #000000;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    font-weight: semi-bold;
    transition: background-color 0.3s ease;
}


.hero-content h1{
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    color: #F4CE14;
    margin-bottom: 20px;
}

.hero-content h2{
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    color: #fdfdfd;
    font-style:regular;
    margin-bottom: 20px;
}

.hero-content p{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #EDEFEE;
    margin-bottom: 20px;
    max-width: 600px;
    font-style:medium;
}


.hero{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px;
   background-color: #495E57;
   gap: 40px;
   position: relative;
}

.hero-content {
  width: 50%;
}

.hero-image {
  width: 50%;
  position: relative;
  top:60px;
  
}

.hero-image img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.specials {
  padding: 120px 60px 60px;
}

.specials-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.specials-top h2 {
  font-size: 48px;
}

.specials-top button {
  background-color: #F4CE14;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;

  font-weight: bold;
  cursor: pointer;
}

.specials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.special-card {
  background-color: #EDEFEE;
  border-radius: 16px;
  overflow: hidden;
}

.special-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 24px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-top span {
  color: #EE9972;
  font-weight: bold;
}

.card-content p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.card-content h4 {
  font-weight: bold;
}