.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.nav-links{
list-style:none;
display:flex;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:#495E57;
}

.logo img{
width:180px;
}

.hamburger {
  display: none;
  font-size: 32px;
  color: #495E57;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #FFFDFD;
    padding: 20px;
  }
}